@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  height: 50vh;
}

.main:before {
  background: linear-gradient(
    0deg,
    rgba(13, 13, 13, 1) 25%,
    rgba(38, 38, 38, 0) 100%
  );
  position: absolute;
  content: "";
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/images/grid.svg");
  background-size: 37.5%;
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.75;
}

.gradient {
  top: 0;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(0deg, #0d0d0d, #262626);
}

.gradient2 {
  top: 0;
  z-index: 2;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(0deg, #ffffff, #ffffff);
  animation: light-opacity ease-in-out 750ms infinite alternate;
}

@keyframes light-opacity {
  0% {
    opacity: 0.03;
  }
  100% {
    opacity: 0.05;
  }
}
